[submodule "apps/projectGenerator"]
	path = apps/projectGenerator
	url = https://github.com/openframeworks/projectGenerator.git
[submodule "apps/ofCG221Apps"]
	path = apps/ofCG221Apps
	url = ssh://cglab.ik.w-hs.de/gitrepos/ofCG221Apps

